* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Norse Bold', sans-serif;
    display: flex;
    height: 100vh; /* Full viewport height */
}

.container {
    display: flex;
    width: 100%; /* Full width of the page */
    height: 100%; /* Make the container full height */
}

.logo-container {
    flex: 1; /* Take up half of the container */
    background: url('assets/images/background-signup.jpg') no-repeat center center; /* Background image */
    background-size: cover; /* Cover the area */
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center logo and paragraph vertically */
}

.logo-background {
    background-color: rgba(0, 0, 0, 0.7); /* Black semi-transparent background */
    padding: 20px;
    text-align: center; /* Center logo and title */
}

.logo img {
    width: 100px; /* Adjust the logo size as needed */
}

h1 {
    color: #FFFFFF; /* White color for logo text */
    font-size: 48px;
    margin: 10px 0;
}

.form-container {
    flex: 1; /* Take up half of the container */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    overflow-y: auto; /* Allow scrolling if content exceeds height */
}

h2 {
    margin-bottom: 20px;
    color: #596D48;
}

.intro-text {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center; /* Center align the text */
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%; /* Full width of the form */
}

label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus {
    border: 2px solid blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

input:invalid {
    border: 2px solid red;
}

button {
    width: 100%;
    background-color: #596D48; /* Button color */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a5d3b; /* Darker shade for hover effect */
}

.footer-text {
    margin-top: 15px;
    font-size: 14px;
}

.footer-text a {
    color: #596D48; /* Link color */
    text-decoration: none; /* Remove underline */
}

.footer-text a:hover {
    text-decoration: underline; /* Underline on hover */
}
